body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

/* Bindings */
.container {
  padding: 16px;
  border: 1px solid #ccc;
  background: #ccc;
  margin-bottom: 32px;
}

button {
  padding: 4px 8px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
}

button:not([disabled]) {
  cursor: pointer;
}

button:not([disabled]):hover {
  background-color: salmon;
  color: white;
};

.highlight {
  font-weight: bold;
}
/* Bindings */


/*P roperty Binding */
.parent {
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 10px;
}
.child {
  border: 1px solid black;
  background-color: #ccc;
  padding: 10px;
}

/* Puzzle */
.setup, .puzzle{
  padding: 16px;
  margin-bottom: 32px;

  h2 {
    margin: 0;
  }
}
.setup {
  border: 1px solid #ccc;
  background-color: #eee;
}
.puzzle {
  border: 1px solid red;
  background-color: #ffdbd6;
}
.puzzle.solved {
  border: 1px solid green;
  background-color: #ccffda;
}

.name {
  font-weight: bold;
}
